# Ignore compiled Python files
*.pyc

# Ignore the Jupyter Notebook checkpoints folder
.ipynb_checkpoints/

# Ignore the Jupyter Notebook kernel metadata
**.ipynb-meta

# Ignore the Jupyter Notebook execution history
**.ipynb_checkpoints/

# Ignore virtual environment files
venv/
env/

# Ignore macOS folder attributes
.DS_Store

# Ignore Python bytecode files
__pycache__/
